# Игнорирование виртуального окружения, если оно создаётся в проекте
.venv/
venv/

# Игнорирование байткода Python
*.pyc
__pycache__/

# Игнорирование настроек IDE
.vscode/
.idea/

# Другие файлы, которые не нужно коммитить
*.log
